@charset "gb2312";
/* ----------------------------------
Discuz! X3.0 X3.1 X3.2 (C) 周末设计
http://www.haoweek.com
----------------------------------*/

body {font-family:"Microsoft Yahei",Arial,"宋体",Helvetica;  font-size:12px; color:#333333;}
.wp { margin: 0 auto; width:1000px; } 
.frame { border:none !important; background-color:transparent !important;background-image:none !important;} 
.clear{ clear:both;}
.mt10 { margin-top:10px;}
.mt20 { margin-top:20px;}
.mr10 { margin-right:10px;}
.ml10 { margin-left:10px;}
.mb10 { margin-bottom:10px;}
a:hover { color:#178EEE; -o-transition: color .3s ease-in-out; -ms-transition: color .3s ease-in-out; -webkit-transition: color .3s ease-in-out; -moz-transition: color .3s ease-in-out; transition: color .3s ease-in-out; }
.wk_toptb {width:100%; margin:0 auto; height:36px; line-height:36px; border-bottom:1px solid #F6F6F6; background:#282828;}
.ie6 .wk_toptb { overflow: hidden}
.wk_toptb .wp .z {line-height:34px;}
#switchblind { display: none}
#headertop { float:left; margin-top:4px}
#header_user { height:31px; line-height:31px; margin-top:0; margin-right:0; float:right}
#header_user a { height: 36px; line-height: 36px; color:#FFF; padding: 0 10px 0 0}
#header_nav span { float: left; height: 36px; line-height: 36px}
#header_nav span a { font-size: 12px; height: 36px; line-height: 36px; color:#FFF; padding: 0 10px}
#header_nav span:hover a { background:#FFF; color:#333;}
#header_nav li a img { padding-top:5px;}
.wk_zxleft{ float:left;font-weight:bold; color:#FFF; font-size:14px; margin-right:10px; }
.wk_zxleft img{padding:5px 5px 0 0;float:left;}
#pm_ntc.new { background-repeat: no-repeat; background-position: 5px 10px; padding-left: 28px}
#myprompt.new { background-repeat: no-repeat; background-position: 5px 13px; padding-left: 20px}
#newprompter span:hover { background:#F8F8F8 !important}
.login_list { float:right; position:relative; overflow: hidden;}
.login_block { display: block; padding: 0px 10px; height:36px; line-height:36px; color:rgb(204, 204, 204);}
a.login_block {padding: 0 8px !important}
.login_list .i_qq, .login_list .i_wx, .login_list .i_wb { width:26px; height:30px; margin:2px 0 0 0; text-indent:-9999px; display:block; background: url({STYLEIMGDIR}/w_icon.png) no-repeat 0 0;}
.login_list .i_qq { margin-left:5px; background-position:-36px 0}
.login_list .i_wx { background-position:0 0;margin-right: 0;}
.login_list .i_wb { background-position:-147px 0;margin-right: 0;}
.login_list a:hover .i_qq { background-position:-109px 0;}
.login_list a:hover .i_wx {background-position:-73px 0;}
.login_list a:hover .i_wb {background-position:-183px 0;}
.wk_search { float:right; position:relative; overflow: hidden; width:32px; height:36px;}
.wk_search .i_search { width:32px; height:32px; margin-top:3px; text-indent:-9999px; display:block; background: url({STYLEIMGDIR}/wk_search.png) no-repeat;}
.sub_menu { min-width:92px;_width:92px; font-size: 14px;border:1px solid #EAECED;border-top:none;background:#FFF; box-shadow:1px 1px 2px #BBB; border-radius:0 0 5px 5px; padding:5px;}
.sub_menu li { padding:0;}
.ie7 .sub_menu li, .ie6 .sub_menu li { display: inline;}
.sub_menu a { display: block; width: auto; margin:1px 0; padding:2px 10px; color: #333;background-repeat: no-repeat;background-position: -200px 0;}
.sub_menu a:hover { background:#178EEE; color:#FFF;font-weight: normal; text-decoration:none;background-repeat: no-repeat;background-position: -200px 0;}
#hd #week_nav  .wp { padding:0; }
#week_nav { width:1000px; height:60px; overflow:hidden; padding:20px 0; margin:0 auto; -o-transition:padding .3s ease-in-out; -ms-transition:padding .3s ease-in-out; -webkit-transition:padding .3s ease-in-out; -moz-transition:padding .3s ease-in-out; transition:padding .3s ease-in-out; }
.wk_logo { float:left; width:220px;overflow: hidden;}
.nav { margin-top:10px;float:right; margin-left:18px; height:40px; overflow: hidden; }
.nav li { float:left; height:40px; text-align:center; margin:0 3px;  }
.nav li a {color:#333; font-size:16px; height:40px; line-height:40px; float:left; width:89px; text-align:center; display:block; text-decoration:none; overflow:hidden;}
.nav li.a a, .nav li:hover, .nav li a:hover, .nav li.hover a { color: #fff; text-decoration: none; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; background:#178EEE; }
.nav li span{ display:none; font-size:0;}
.sub_nav ul.p_pop {min-width:68px; border:1px solid #EEE; border-top:2px solid #FFF;z-index:100;font-size:14px;background:#FFF; box-shadow:1px 1px 2px #BBB; border-radius:0 0 5px 5px;}
.sub_nav ul.p_pop li a { margin:0; min-width:68px; text-align:center; padding:2px 0 height:28px;line-height:28px; color:#333; font-size:14px; border:none; border-radius:0!important;}
.ie_all .sub_nav ul.p_pop, .ie_all .sub_nav ul.p_pop li a { min-width:70px;}
.sub_nav ul.p_pop li a:hover {color:#FFF;background:#178EEE;}
#wk_ft { width:100%; margin:0 auto; height:100%; background:#282828; border-top:0; margin-top:10px;}
#ft { padding:12px 0 15px 0;border-top:0; line-height:1.8; color:#EEE; }
#ft a { color:#FFF;}
#flk { text-align:center;}
.wk_foot { width:100%; text-align:center; height:230px; overflow:hidden; background:#2E2E2E;}
.wk_foot_c { position:relative; width:1000px; margin:auto; padding-top:30px; height:220px; }
.wk_foot_info { width:530px; height:180px; font-size:12px; float:left; padding:0 0 0 12px; }
.wk_foot_info .support { width:530px; margin:0 auto; overflow:hidden; zoom:1;}
.wk_foot_info .support dl { float:left; border-right:1px solid #333;}
.wk_foot_info .support dt { text-align:left; height:20px; margin-bottom:15px; overflow:hidden; margin-top:4px; }
.wk_foot_info .support dt span { font-size:16px; font-weight:normal; color:#178EEE;}
.wk_foot_info .support dd { text-align:left;height:24px;line-height:24px;padding:2px 0 0 0;_padding:3px 0 0 0;overflow:hidden;color:#ACACAC;}
.wk_foot_info .support dd a { height:24px;line-height:24px; font-size:14px; color:#ACACAC; }
.wk_foot_info .support dd a:hover { color:#178EEE; }
.wk_foot_info .support dd b { width:3px;height:3px;font-size:0;line-height:0;background:#999;vertical-align:3px;display:inline-block;margin-right:5px;}
.wk_foot_info .support .ft-newbie, .wk_foot_info .support .ft-wares, .wk_foot_info .support .ft-delivery { width:152px;height:160px;margin-right:10px; margin-left:10px;}
.wk_foot_info .support .ft-newbie { margin-left:20px;}
.wk_foot_tel{ width:400px;text-align:left; font-size: 12px; line-height:20px; padding-top:50px; color:#ACACAC;float:right; background: url({STYLEIMGDIR}/foot_logo.png) left 0 no-repeat; overflow: hidden; }
.wk_foot_tel a{color:#999; }
.wk_foot_add{padding:8px 0 0 30px ;background:url({STYLEIMGDIR}/foot_add_bg.png) left 8px no-repeat;}
.wk_foot_phone{padding: 8px 0 0 30px; background:url({STYLEIMGDIR}/foot_tel_bg.png) left 8px no-repeat;}
.wk_foot_fax{padding:8px 0 0 30px;background:url({STYLEIMGDIR}/foot_mail_bg.png) left 8px no-repeat;}
.wk_foot_fx_add{ float:right; width:400px; padding-top:10px; }
.wk_foot_fx_add .bds_more{display: none;}
#wk_foot_fx_add a{line-height: 27px; height: 27px;margin: 6px 13px 6px 0;}
#wk_foot_fx_add .bds_weixin{background: url({STYLEIMGDIR}/foot_fx_weixin_bg.png) no-repeat;}
#wk_foot_fx_add .bds_douban{background: url({STYLEIMGDIR}/foot_fx_douban_bg.png) no-repeat;}
#wk_foot_fx_add .bds_qzone{background: url({STYLEIMGDIR}/foot_fx_qzone_bg.png) no-repeat;}
#wk_foot_fx_add .bds_tsina{background: url({STYLEIMGDIR}/foot_fx_weibo_bg.png) no-repeat;}
#wk_foot_fx_add .bds_renren{background: url({STYLEIMGDIR}/foot_fx_renren_bg.png) no-repeat;}
#wk_foot_fx_add .bds_tqq{background: url({STYLEIMGDIR}/foot_fx_tweibo_bg.png) no-repeat;}
#pgt .pg, #pgt .pgb { margin-top:0;}
.pg strong { background-color:#178EEE !important; color:#FFF; display: block; float: left; padding: 1px 10px; margin-left: 5px; font-weight: normal;}
.pg a.nxt { float:left; background-image:none; display: block; padding-right:10px;}
.pg label { display:none}
.pg a:hover, .pgb a:hover { color:#FFF; background-color:#178EEE; border:none;}
.pg a.prev { background-repeat: no-repeat;}
.pg a, .pg strong, .pgb a, .pg label {height:32px; line-height:32px; margin:0; margin-left:5px; padding:0 12px; background:#DDD; overflow: hidden; border:0;}
.dopt a { padding:0}
.pn {background:#178EEE;border:none;color:#FFF;}
.pg_post .ct2_a, .pg_post .ct3_a { border:1px solid #DDD; border-top:2px solid #178EEE; background:#F9F9F9; padding:10px 20px; margin-bottom:8px;}
.wk_bw0 { background:#F9F9F9; padding:10px; margin:8px 0; border:1px solid #DDD; border-top:2px solid #178EEE;}
.m_l, .m_r, .t_c, .t_r, .b_c, .t_l, .b_r .b_l, {display: none;}
.m_c{-webkit-border-radius: 2px;-moz-border-radius: 2px;-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);border: 1px solid #DDD;border-radius: 5px;}
.m_c .flb {padding: 9px 9px 8px 15px;margin-bottom:10px;line-height: 8px;border-top:1px solid #FFF;background:#F7F7F7;border-bottom:1px solid #E5E5E5; }
.m_c .flb em{ color:#4c4c4c;text-shadow: 0 1px 1px #fff;}
.m_c .o{ border:none;background:#F3F3F3; }
#f_pst .tedt{ border:1px solid #CDCDCD;}
.tedt .bar { background:#F9F9F9;border-bottom:1px solid #EEE;}
.tedt .area{ padding:0;}
#block_style .pt, .tedt .pt {overflow:auto;box-sizing:border-box;vertical-align:middle;resize:vertical;}
.px, .pt, .ps, select {font-family:inherit;color: #333;padding:4px 4px;margin: 0;line-height:18px;border:1px solid #CCC;background-color: white;box-shadow:2px 2px 2px #F0F0F0 inset;vertical-align: middle;}
.rfm{ border:none;}
.ct2 .mn { float: left; width:760px; margin-bottom: 1em; }
.ct2 .sd { float: right; width: 220px; overflow: hidden; _overflow-y: visible; }
.card{ border:none;box-shadow:none;background:none;border:4px solid #F2F2F2;border: 4px solid rgba(0, 0, 0, 0.05);}
.card .p_opt{ border:1px solid #E6E6E6;}
.card_mn{ background:#FFF;}
.card .o a {background:#FFF;border:1px solid #EEE;color: #555;}
.card a:hover {background-color:gainsboro !important;}
.wk_content_left { width:100%; height:260px; overflow:hidden;}
.wk_content_left1 { width:100%; height:260px; overflow:hidden; background:url({STYLEIMGDIR}/portal/banner1.jpg) center top no-repeat;}
.wk_content_left2 { width:100%; height:260px; overflow:hidden; background:url({STYLEIMGDIR}/portal/banner2.jpg) center top no-repeat;}
.wk_content_left3 { width:100%; height:260px; overflow:hidden; background:url({STYLEIMGDIR}/portal/banner3.jpg) center top no-repeat;}
.wk_content_left4 { width:100%; height:260px; overflow:hidden; background:url({STYLEIMGDIR}/portal/banner4.jpg) center top no-repeat;}
.wk_content_left5 { width:100%; height:260px; overflow:hidden; background:url({STYLEIMGDIR}/portal/banner5.jpg) center top no-repeat;}
.wk_content_bottom { position:relative; width:100%; height:60px; margin-top:200px; background:#178EEE; opacity:0.9; overflow:hidden;}
.ie_all .wk_content_left { margin-top:-1px;} 
.wk_content_left_t {float:left; width:90%; height:60px; margin-top:10px; white-space:nowrap; overflow:hidden;}
.wk_content_left_t1 { float:left; font-size:22px; line-height:40px; font-weight:bold; color:#FFF;}
.wk_content_left_t2 { float:left; margin-left:15px; font-size:14px; margin:12px; line-height:26px; font-weight:normal; color:#F0F0F0;}
.wk_content_right_t {float:right; width:10%; height:60px; margin-top:17px; white-space:nowrap; overflow:hidden;}
.wk_content_right_t1 { float:right; height:20px; width:90px; text-align:center; padding:3px 0; background:#EEE; color:#333; font-size:14px; line-height:20px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.waterfall { position:relative; margin-top:15px; margin-right:10px; margin-left:10px; }
.waterfall li { margin: 0 10px 10px 0; padding: 0 0 3px; text-align: left; border-width: 1px 0 0; border-top: 1px solid #EAEAEA; background: url({STYLEIMGDIR}/bg_waterfall.png) no-repeat 100% 100%; }
.waterfall .c, .waterfall h3 { padding: 10px; border: solid #EAEAEA; border-width: 0 1px; background-color: #F8F8F8; }
.waterfall .c { overflow: hidden; padding-bottom: 0; max-height: 800px; }
.waterfall .c .nopic { display: block; background:{WRAPBG} url({IMGDIR}/nophototiny.png) no-repeat 50% 50%; cursor: pointer; }
.waterfall .auth { padding: 0 10px 10px; border-width: 0 1px 1px; border-style: solid; border-color: transparent #EAEAEA #B9B9B9; background: #F8F8F8; }
.waterfall .auth img { display: inline-block; margin: 0 1px; }

