<style>

    body{background-color: #0e0e0e !important;}
    .wp{width: 960px !important;}
    .deannavwrap{background-color: #930C12 !important;}
    .deannavwrap .deanw1180{width: 960px !important;}
    .deannav{width: 660px !important;}
    .deannav ul{width: 100% !important;}
    #scbar_btn{background-color: gray !important;}
    #scbar{border:none !important;}
    .second-box{width:100%;height:80px;background: url(static/image/portal/banner_line.jpg) center;}
    .banner_four{width:100%;height: 820px;background: url(static/image/portal/banner_third_2.jpg) center;}
    .four-box{padding:60px;text-align: center;}
    .four-box h1{font-size: 48px;color:white;font-family:"Droid Sans", arial, sans-serif}
    .four-box h2{font-size: 16px;color: #fff;margin-top: 12px;}
    .four-box h3{font-size: 16px;color: #fff;margin-top: 12px;}

    .four-box_2{text-align: center;}
    .four-box_2 h1{font-size: 28px;color:white;font-family:"Droid Sans", arial, sans-serif}
    .four-box_2 h2{font-size: 16px;color: #fff;margin-top: 12px;}
    .four-box_2 h3{font-size: 16px;color: #fff;margin-top: 12px;}
    .four-box_2 a{font-size: 14px;color: #fff;cursor: pointer;}
    .six-box{width:100%;height: 860px;background: url( static/image/portal/banner_six_q.jpg) center;position: relative;}

    .six-box>div{ position: absolute;

      transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        -o-transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);
        overflow: hidden;

    }


    .info-publish{margin-top: 20px;}
    .info-publish a{display: block;font-size: 16px;color:white;font-weight: bold;padding:5px;}
    .four-box_2_2>a{padding:4px;display: block;width: 50%;margin: 0 auto;}

    .four-box_2_3 div{
        width: 6px;height: 6px;
        background: red;margin: 5px;
        transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        -o-transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);
    }
    .six-box img{
        -webkit-transition: -webkit-transform 1s ease-out;
        -moz-transition: -moz-transform 1s ease-out;
        -o-transition: -o-transform 1s ease-out;
        -ms-transition: -ms-transform 1s ease-out;

    }
    .six-box img:hover{
        transform:scale(1.2);
        -webkit-transform:scale(1.2);
        -moz-transform:scale(1.2);
        -o-transform:scale(1.2);
        -ms-transform: scale(1.2);
    }
    .six-box .img-1{top: 62%;left:50%;margin-top: -236px;margin-left: -236px;}
    .six-box .img-2{top: 62%;left:50%;margin-top: -92px;margin-left: -378px;}
    .six-box .img-3{top: 62%;left:50%;margin-top: 52px;margin-left: -236px;}
    .six-box .img-4{top: 62%;left:50%;margin-top: -236px;margin-left: 50px;}
    .six-box .img-5{top: 62%;left:50%;margin-top: -92px;margin-left: 190px;}
    .six-box .img-6{top: 62%;left:50%;margin-top: 52px;margin-left: 50px;}
    .six-box .img-center{top: 62%;margin-top: -92px;left:50%;margin-left: -92px;}

    .box{height:100%;padding:5px 20px;}
    .box img{max-width: 100%;margin:0 30px;	-webkit-transition: -webkit-transform 0.5s ease-out;
        -moz-transition: -moz-transform 0.5s ease-out;
        -o-transition: -o-transform 0.5s ease-out;
        -ms-transition: -ms-transform 0.5s ease-out;}
    .box img:hover{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        -ms-transform:rotate(360deg);

    }
</style>
<!--{template common/header}-->
<div class="portal-home">
    <div class="banner-first">
        <img src="static/image/portal/sm_home_01.jpg">
    </div>
    <div class="banner-second">
        <div class="second-box">
            <div class="box">
                <img src="static/image/portal/banner_second_1.png">
                <img src="static/image/portal/banner_second_2.png">
                <img src="static/image/portal/banner_second_3.png">
                <img src="static/image/portal/banner_second_4.png">
                <img src="static/image/portal/banner_second_5.png">
                <img src="static/image/portal/banner_second_6.png">
                <img src="static/image/portal/banner_second_7.png">
            </div>

            
        </div>
    </div>
    <div class="banner_third">

        <img src="static/image/portal/banner_third_1.jpg">


    </div>
    <div class="banner_four">
        <div class="four-box">
            <h1><span style="color:red;">~~~~~</span><a style="color:white;" href=""> > > 自我展示 < < </a><span style="color:red;">~~~~~</span></h1>
            <h2> Self Presentation</h2>
            <div class="info-publish">
                <a href="http://smximeng.com/forum.php?mod=forumdisplay&fid=2">寻主寻奴信息发布</a>
                <a href="http://smximeng.com/forum.php?mod=forumdisplay&fid=36">邀约信息发布</a>
                <a href="http://smximeng.com/forum.php?mod=forumdisplay&fid=37">自我介绍发布</a>
            </div>
        </div>

        <div class="four-box_2" style="margin-top: 120px;padding:60px;">
            <div style="background-color: rgba(255, 255, 255, 0.38);padding:20px;">
            <div style="width: 48%;float: left;">
                <a style="color:white;" href=""><h1 style="margin-left: -30px"> > > 激扬文字 < < </h1></a>
                <h2 style="margin-left: -30px;">Special Text</h2>
                <div class="four-box_2_2" style="margin:5px auto;margin-left: -30px; color:white;font-weight: bold;">
                    <a href="http://smximeng.com/forum.php?mod=forumdisplay&fid=39">弘扬个性的文章发布</a>
                    <a href="http://smximeng.com/forum.php?mod=forumdisplay&fid=40">对时事看法的交流</a>
                    <a href="http://smximeng.com/forum.php?mod=forumdisplay&fid=41">找到更多同好的人</a>
                </div>
            </div>
            <div class="four-box_2_3" style="float: left;">
                <div></div><div></div><div></div><div></div><div></div><div></div><br>
                <div></div> <div></div> <div></div> <div></div><div></div> <div></div>
            </div>
            <div class="" style="width: 48%;float: left;margin-left: 10px;">
                <a style="color:white;" href=""><h1 style="color:black;margin-left: 50px;"> > > 经验交流 < < </h1></a>
                <h2 style="color:black;margin-left: 50px;">Experience Sharing</h2>
                <div style="margin:20px auto; color:black;font-weight: bold;line-height: 40px;">
                    <a href="http://smximeng.com/forum.php?mod=forumdisplay&fid=43" style="color:black;margin-left: 50px;">教学文章</a>
                    <a href="http://smximeng.com/forum.php?mod=forumdisplay&fid=44" style="color:black;margin: 0 20px;">提问答疑</a>
                    <a href="http://smximeng.com/forum.php?mod=forumdisplay&fid=45" style="color:black;">经验分享</a>
                </div>
            </div>
            <div style="clear: both;"></div>
            </div>
        </div>
    </div>
    <div class="banner_five">

        <img src="static/image/portal/banner_five_1.jpg">


    </div>
    <div class="banner_six">
        <div class="six-box">
            <div class="img-1"><img src="static/image/portal/banner_six_2.png"></div>
            <div class="img-2"><img src="static/image/portal/banner_six_3.png"></div>
            <div class="img-3"><img src="static/image/portal/banner_six_4.png"></div>
            <div class="img-center"><img style="border:1px solid white;" src="static/image/portal/banner_six_center.png"></div>
            <div class="img-4"><img src="static/image/portal/banner_six_5.png"></div>
            <div class="img-5"><img src="static/image/portal/banner_six_6.png"></div>
            <div class="img-6"><img src="static/image/portal/banner_six_7.png"></div>
        </div>
    </div>
    <div class="banner_seven">

        <img src="static/image/portal/banner_seven_1.jpg">


    </div>

</div>

<!--{template common/footer}-->
