<!--{template common/header}-->
<style id="diy_style" type="text/css"></style>
<div class="wp">
		<!--[diy=diy1]-->
		<div id="diy1" class="area"></div>
		<!--[/diy]-->
</div>
</div>
<!-- maincontent -->
<div class="jeavi_con cl">
		<div class="left-con cl">
				<!-- focus begin -->
				<div class="focus_box cl">
						<!--[diy=focus_box]-->
						<div id="focus_box" class="area">
								
						</div>
						<!--[/diy]-->
				</div>
				<!-- focus end -->
				<div class="sort-nav mt20">
						<!--[diy=sort-nav]-->
						<div id="sort-nav" class="area">
								
						</div>
						<!--[/diy]-->
				</div>
				<div class="wonderful">
						<div class="portal-hd hd">
								<!--[diy=wonderful-hd]-->
								<div id="wonderful-hd" class="area">
										
								</div>
								<!--[/diy]-->
						</div>
						<div class="bd">
								<!--[diy=wonderful-c]-->
								<div id="wonderful-c" class="area">
										
								</div>
								<!--[/diy]-->
						</div>
				</div>
				<div class="photo-part mt20 cl">
						<div class="btit">
								<!--[diy=talk_boxt]-->
								<div id="talk_boxt" class="area">
										
								</div>
								<!--[/diy]-->
						</div>
						<div class="columns cl">
								<div class="photo-big mr30">
										<!--[diy=photo-big-l]-->
										<div id="photo-big-l" class="area">
												
										</div>
										<!--[/diy]-->
								</div>
								<div class="photo-small">
										<!--[diy=photo-small-l]-->
										<div id="photo-small-l" class="area">
												
										</div>
										<!--[/diy]-->
								</div>
						</div>
						<div class="mb20">
								<!--[diy=l-adt]-->
								<div id="l-adt" class="area">
										
								</div>
								<!--[/diy]-->
						</div>
				</div>
				<div class="travel_c mt10">
						<div class="hd">
								<!--[diy=travel_ct]-->
								<div id="travel_ct" class="area">
										
								</div>
								<!--[/diy]-->
						</div>
						<div class="bd">
								<ul class="boutique_list">
										<!--[diy=boutique_list]-->
										<div id="boutique_list" class="area">
												
										</div>
										<!--[/diy]-->
								</ul>
								<ul class="boutique_list">
										<!--[diy=boutique_list1]-->
										<div id="boutique_list1" class="area">
												
										</div>
										<!--[/diy]-->
								</ul>
								<ul class="boutique_list">
										<!--[diy=boutique_list2]-->
										<div id="boutique_list2" class="area"></div>
										<!--[/diy]-->
								</ul>
								<ul class="boutique_list">
										<!--[diy=boutique_list3]-->
										<div id="boutique_list3" class="area"></div>
										<!--[/diy]-->
								</ul>
								<ul class="boutique_list">
										<!--[diy=boutique_list4]-->
										<div id="boutique_list4" class="area"></div>
										<!--[/diy]-->
								</ul>
						</div>
				</div>
		</div>
		<div class="right-con cl">
				<!-- 网站信息 -->
				<div class="web-info">
						<div class="portal-hd">
								<!--[diy=web-info-t]-->
								<div id="web-info-t" class="area">
										
								</div>
								<!--[/diy]-->
						</div>
						<div class="bd">
								<!--[diy=web-info]-->
								<div id="web-info" class="area">
										
								</div>
								<!--[/diy]-->
						</div>
				</div>
				<div class="ranking cl">
						<div class="hd">
								<!--[diy=ranking-t]-->
								<div id="ranking-t" class="area">
										
								</div>
								<!--[/diy]-->
						</div>
						<div class="bd">
								<ul class="top10">
										<!--[diy=ranking-con1]-->
										<div id="ranking-con1" class="area">
												
										</div>
										<!--[/diy]-->
								</ul>
								<ul class="top10">
										<!--[diy=ranking-con2]-->
										<div id="ranking-con2" class="area">
												
										</div>
										<!--[/diy]-->
								</ul>
								<ul class="top10">
										<!--[diy=ranking-con3]-->
										<div id="ranking-con3" class="area">
												
										</div>
										<!--[/diy]-->
								</ul>
						</div>
				</div>
				<div class="cl">
						<div class="portal-hd">
								<!--[diy=photo-big-t]-->
								<div id="photo-big-t" class="area">
										
								</div>
								<!--[/diy]-->
						</div>
						<div class="photo-big-s">
								<!--[diy=photo-big-lss]-->
								<div id="photo-big-lss" class="area">
										
								</div>
								<!--[/diy]-->
						</div>
				</div>
				<div class="star_box mt20">
						<div class="portal-hd">
								<!--[diy=star_tit]-->
								<div id="star_tit" class="area">
										
								</div>
								<!--[/diy]-->
						</div>
						<div class="starbd">
								<!--[diy=jeavi_starbd]-->
								<div id="jeavi_starbd" class="area">
										
								</div>
								<!--[/diy]-->
						</div>
				</div>
				<!-- 旅游排行榜 -->
				<div class="user_ranking mb10">
						<div class="tit hd">
								<!--[diy=jeavi_info_t]-->
								<div id="jeavi_info_t" class="area">
										
								</div>
								<!--[/diy]-->
						</div>
						<div class="bd">
								<ul>
										<!--[diy=jeavi_info_list1]-->
										<div id="jeavi_info_list1" class="area">
												
										</div>
										<!--[/diy]-->
								</ul>
								<ul>
										<!--[diy=jeavi_info_list2]-->
										<div id="jeavi_info_list2" class="area">
												
										</div>
										<!--[/diy]-->
								</ul>
								<ul>
										<!--[diy=jeavi_info_list3]-->
										<div id="jeavi_info_list3" class="area"></div>
										<!--[/diy]-->
								</ul>
						</div>
				</div>
				<!-- 旅游排行榜 -->
				<div class="right-ad mt20 cl">
						<!--[diy=right-ad]-->
						<div id="right-ad" class="area">
								
						</div>
						<!--[/diy]-->
				</div>
				<div class="new-article">
						<div class="portal-hd">
								<!--[diy=new-article-t]-->
								<div id="new-article-t" class="area">
										
								</div>
								<!--[/diy]-->
						</div>
						<div class="bd">
								<!--[diy=new-article-c]-->
								<div id="new-article-c" class="area">
										
								</div>
								<!--[/diy]-->
						</div>
				</div>
		</div>
</div>
<!-- 全图区 -->
<div class="jeavi_con cl">
		<div class="all-pic">
				<div class="portal-hd">
						<!--[diy=all-pic-t]-->
						<div id="all-pic-t" class="area">
								
						</div>
						<!--[/diy]-->
				</div>
				<div class="all-pic-l">
						<ul class="pic-large">
								<!--[diy=all-pic-1]-->
								<div id="all-pic-1" class="area">
										
								</div>
								<!--[/diy]-->
						</ul>
				</div>
				<div class="all-pic-r">
						<ul class="pic-minimal mr10">
								<!--[diy=all-pic-3]-->
								<div id="all-pic-3" class="area">
										
								</div>
								<!--[/diy]-->
						</ul>
						<ul class="pic-minimal">
								<!--[diy=all-pic-4]-->
								<div id="all-pic-4" class="area">
										
								</div>
								<!--[/diy]-->
						</ul>
				</div>
				<div class="all-pic-l">
						<ul class="pic-minimal mr10">
								<!--[diy=all-pic-6]-->
								<div id="all-pic-6" class="area">
										
								</div>
								<!--[/diy]-->
						</ul>
						<ul class="pic-minimal mr10">
								<!--[diy=all-pic-7]-->
								<div id="all-pic-7" class="area">
										
								</div>
								<!--[/diy]-->
						</ul>
						<ul class="pic-minimal">
								<!--[diy=all-pic-7.1]-->
								<div id="all-pic-7.1" class="area">
										
								</div>
								<!--[/diy]-->
						</ul>
				</div>
				<div class="all-pic-r">
						<ul class="pic-small">
								<!--[diy=all-pic-8]-->
								<div id="all-pic-8" class="area">
										
								</div>
								<!--[/diy]-->
						</ul>
				</div>
		</div>
</div>
<!-- 友情链接 -->
<div class="jeavi_con cl">
		<div class="portal-hd">
				<!--[diy=index_linkt]-->
				<div id="index_linkt" class="area">
						
				</div>
				<!--[/diy]-->
		</div>
		<div class="index_link">
				<!--[diy=index_link]-->
				<div id="index_link" class="area">
						
				</div>
				<!--[/diy]-->
		</div>
</div>
<script type="text/javascript">
jQuery('.big-element').hover(function() {
jQuery(".entry-info", this).stop().animate({
top: '0px'
},
{
queue: false,
duration: 500
});
},
function() {
jQuery(".entry-info", this).stop().animate({
top: '350px'
},
{
queue: false,
duration: 500
});
});


jQuery('.item').hover(function() {
jQuery(".entry-info", this).stop().animate({
top: '0px'
},
{
queue: false,
duration: 500
});
},
function() {
jQuery(".entry-info", this).stop().animate({
top: '135px'
},
{
queue: false,
duration: 500
});
});

jQuery(".focus_box").slide({ mainCell:".bd ul",titCell:".hd ul",effect:"fold",autoPlay:true,autoPage:true});
jQuery(".ranking").slide({ titCell:".hd li", mainCell:".bd",delayTime:0 });
jQuery(".wonderful").slide({ mainCell:".bd ul",titCell:".hd ul", effect:"leftLoop",easing:"easeInOutQuint",delayTime:500, vis:3, scroll:1,autoPlay:true,autoPage:true});
jQuery(".user_ranking").slide({ titCell:".hd li", mainCell:".bd",delayTime:0 });
jQuery(".travel_c").slide({ mainCell:".bd",effect:"fold",switchLoad:"_src",delayTime:0});

</script>
<!--{template common/footer}-->
