/* ----------------------------------

Main CSS file for Discuz! X3
(C) Comsenz Inc.
http://www.comsenz.com
Created & Modified by ThinkTheme.

---------------------------------- */

/* 首页幻灯效果 */
#tt_portal_content {width:980px; height:auto; margin:0 auto; margin-bottom:20px;}

/* 首页左侧图文 */
.tt_content_b{width: auto;height: auto;margin-bottom: 20px; display:inline-block;}
.tt_content_left{width: 590px;height: auto;padding: 20px;background-color: white; float:left}
.tt_portal_list {width:auto; height:auto;}
.tt_portal_list li {margin-bottom:30px; border-bottom:#EAEAEA 1px solid; padding-bottom:15px;}
.tt_portal_list li h3 {width:auto; height:auto; font-size:18px; margin-bottom:15px;}
.tt_portal_list_t {font-size:14px; width:72px; height:24px; background:url(index_list_title.png) no-repeat left top; display:block; color:#fff; padding-left:5px; margin-right:5px; line-height:24px; font-weight:normal;}
.tt_portal_list_t:hover {color:#fff; background:url(index_list_title.png) no-repeat left bottom;}
.tt_portal_list_t_2 {width:507px; line-height:130%;}
a.tt_portal_list_t_2:hover{ color:#ff6600; text-decoration:none;}
.tt_portal_list_content {}
.tt_portal_list_img {width:590px; display:block; font-size:0; line-height:0; overflow:hidden; margin-bottom:14px;  min-height:40px;}
.tt_portal_list_des {width:348px; font-size:14px; line-height:160%;}
.tt_portal_list_des a {color:#ff6600; margin-left:15px;}
.tt_portal_list_info {width:190px; height:auto; color:#777;}
.tt_portal_list_info_top {border-bottom:#CCC 1px dashed; padding-bottom:8px; margin-bottom:9px;}
.tt_portal_list_info_top a {margin-bottom:3px; display:block; color:#ff6600;}
.tt_portal_list_info_bottom a {color:#777; margin-right:10px;}
.tt_portal_list_info_bottom img {position:relative; top:1px; margin-right:3px;} 
.tt_portal_view{ background:url(view.png) 0 2px no-repeat; padding-left:15px;}
.tt_portal_reply{ background:url(reply.png) 0 2px no-repeat; padding-left:15px;}

/* 首页右侧 - 热门活动 */
.tt_content_right{width: 330px;height: auto; float:left; margin-left:20px}
.tt_content_right .tt_jiaodian, .tt_remenhuodong{width:290px; height:auto; background:#fff; padding:12px 20px 8px 20px; margin-bottom:20px; float:left;}
.tt_remenhuodong li {vertical-align:bottom; border-bottom:#EAEAEA 1px dashed; padding-bottom:15px; margin-bottom:15px;}
.tt_remenhuodong_img {width:120px; height:100px; display:block; overflow:hidden; font-size:0; line-height:0; margin-right:10px;}
.tt_remenhuodong_img img {width:100%;}
.tt_remenhuodong_des {width:160px; position:relative; line-height:150%; top:-1px;}
.tt_remenhuodong_des h4 {font-weight:normal; font-size:14px; margin-bottom:5px;}
.tt_remenhuodong_des h4 a {color:#ff6600;}
.tt_remenhuodong_des p {margin-bottom:10px;}
.tt_content_right .tt_jiaodian_h, .tt_mtxs_h, .tt_hyyh_h,.tt_yqlj_h, .tt_kuaixun_h{width:auto; height:auto; border-bottom:#EAEAEA 2px solid; font-weight:normal; margin-bottom:13px;}
.tt_content_right .tt_jiaodian_h a , .tt_mtxs_h a, .tt_hyyh_h a,.tt_yqlj_h a,.tt_kuaixun_h a{font-size:18px; color:#ff6600; display:block; border-bottom:#ff6600 2px solid; position:relative; top:2px; float:left; line-height:150%; padding-bottom:5px; padding-bottom:3px \9; text-decoration:none}
.tt_btn {width:auto; height:28px; line-height:28px; color:#fff; background-color:#ff6600; padding:0 15px; border:0; font-size:12px; cursor:pointer; display:inline-block; *display:inline; *zoom:1;}
.tt_btn:hover {background-color:#2886C9; color:#fff;}
.tt_content_right .tt_jiaodian li {float:left; line-height:100%; width:278px; padding:10px 0; font-size:14px; overflow:hidden;white-space:nowrap; word-wrap:normal;text-overflow:ellipsis; background:url(right_nrrow.png) no-repeat 0 13px; padding-left:10px;border-bottom:#EAEAEA 1px dashed; }
.tt_content_right .tt_jiaodian li a{ text-decoration:none;}
.tt_content_right .tt_jiaodian li a:hover{ color:#FF6600}
.tt_content_right .tt_jiaodian li img {margin-right:6px;}
.tt_mtxs {width:290px; height:auto; background:#fff; padding:12px 20px 20px 20px; margin-bottom:20px; float:left}
.tt_mtxs span.title{ margin-left:-10px}
.tt_mtxs .slidebar ul{ position:absolute; width:70px; overflow:hidden; height:10px; top:225px; left:220px}
.tt_mtxs .slidebar li{ border-radius:10px; font-size:0; width:10px; height:10px; margin-left:2px;}
.tt_mtxs .slidebar li.on{ border-radius:10px; background:#ff6600; color:#fff}
.tt_hyyh {width:290px; height:auto; background:#fff; padding:12px 20px 20px 20px; margin-bottom:20px; float:left}
.tt_hyyh li{ width:290px; float:left; overflow:hidden; height:36px; line-height:36px; font-size:16px; margin-top:5px; margin-bottom:5px; list-style-type:none;}
.tt_hyyh li img{ width:36px; height:36px; float:left;}
.tt_hyyh li .tt_hyyh_a{ float:left; margin-left:10px; text-decoration:none; color:#333}
.tt_hyyh li span{ float:left; color:#999; margin-left:10px;}
.tt_hyyh li .tt_hyyh_b{ float:right; text-decoration:none; color:#fff; background:#ff6600; padding:0 10px; font-size:12px; height:26px; line-height:26px; margin-top:5px;}
.tt_hyyh li a.tt_hyyh_b:hover{ background:#ff4400}
.tt_hyyh li a.tt_hyyh_a:hover{ color:#ff6600}

.tt_erweima { padding:20px 20px 20px 37px;width:273px; height:auto; background:#fff;margin-bottom:20px; float:left}
.tt_erweima a, .tt_erweima span {display:block; float:left; width:100px; text-align:center; height:auto; border-right:#EAEAEA 1px solid; padding-right:28px; margin-right:28px; line-height:160%; text-decoration:none;}
.tt_erweima span {border:0; padding:0; margin:0;}
.tt_erweima a .tt_img, .tt_erweima span img {display:block; margin-bottom:10px; width:100px; height:100px;}
.tt_erweima a .tt_img {background:url(weibo.jpg) no-repeat left top;}
.tt_erweima a:hover{ color:#ff6600}
.tt_kuaixun{width:940px;height: auto;padding:12px 20px 8px 20px; display:inline-block; background:#fff; margin-bottom:20px;}
.tt_kuaixun li {float: left;line-height: 150%;width: 460px;padding-bottom: 10px;font-size: 14px;overflow: hidden;white-space: nowrap;word-wrap: normal;text-overflow: ellipsis;background:url(right_nrrow.png) no-repeat 0 7px; padding-left:10px;}
.tt_kuaixun li a:hover{ text-decoration:none; color:#ff6600}

.tt_yqlj{width:940px;height: auto;padding:12px 20px 8px 20px; display:inline-block; background:#fff}
.tt_view_more{ font-size:12px;  margin-left:260px; background:#ff6600; color:#fff; padding:5px 12px;}
a.tt_view_more:hover{ background:#ff3300;text-decoration:none;}
