<!--{template common/header}-->
<!--[name]{moke8_edu_release}[/name]-->
<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->

<!--{ad/text/wp a_t}-->
<style id="diy_style" type="text/css"></style>
<style>
.ct2 { border:0; background:none; padding-bottom:10px;} 
.wk_c_right_name { height:30px;}
.wk_c_right_name_l, .wk_c_right_name_r { padding-top:0;}
</style>

</div>
<div class="wk_content_left">
    <div class="wk_content_left1">
        <div class="wk_content_bottom">
            <div class="wp">
                <div class="wk_content_left_t">
                    <span class="wk_content_left_t1">$week_lang[122]</span>
                    <span class="wk_content_left_t2">$week_lang[123]</span>
                </div>
                <div class="wk_content_right_t">
                    <!--{if ($_G['group']['allowpostarticle'] || $_G['group']['allowmanagearticle'] || $categoryperm[$catid]['allowmanage'] || $categoryperm[$catid]['allowpublish']) && empty($cat['disallowpublish'])}-->
                    <a href="portal.php?mod=portalcp&ac=article&catid=$cat[catid]" class="wk_content_right_t1">{lang article_publish}</a>
                    <!--{/if}-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wk_ymbg">
<div id="wp" class="wp">

<script type="text/javascript" src="$_G['style'][styleimgdir]/js/jquery.hover.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){jQuery(function() {jQuery('#photo .list').hoverdir();});});
</script>

<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>

<div id="ct" class="ct2 wp cl">
		<div class="wk_c_right_name">
            <div class="wk_c_right_name_l">
                <span class="wk_c_right_name_l2">$cat[catname]</span>
            </div>
            <div class="wk_c_right_name_r">
                <ul>
                    <li>
                        <span>$week_lang[8]</span>
                        <span><a href="$_G[setting][navs][1][filename]">{lang portal}</a></span>
                        <span>$week_lang[17]</span>
                        <!--{loop $cat[ups] $value}--><span><a href="{$portalcategory[$value['catid']]['caturl']}">$value[catname]</a></span><span>$week_lang[17]</span><!--{/loop}-->
                        <span>$cat[catname]</span>
                    </li>
                    <li>
                        <img src="$_G['style']['styleimgdir']/portal/right_wz.png" alt="" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
		<!--{ad/articlelist/mbm hm/1}--><!--{ad/articlelist/mbm hm/2}-->
		<!--[diy=listcontenttop]--><div id="listcontenttop" class="area"></div><!--[/diy]-->
        <div class="xld">
        	<!--{eval $wy=1}-->
            <!--{loop $list['list'] $value}-->
            <!--{eval $highlight = article_title_style($value);}-->
            <!--{eval $article_url = fetch_article_url($value);}-->	
            <dl class="wk_rele cl">
                <dd class="wk_asl_01 {if is_int($wy/2)}wk_asl_r{/if}">
                    <em class="wk_tw01"><em class="wk_tw02"><a href="$article_url" title="$value[title]" target="_blank" style="background-image:url({if $value[pic]}$value[pic]{else}$_G['style']['imgdir']/nophoto.gif{/if})">$value[title]</a></em></em>
                </dd>
                <dt><a href="$article_url" title="$value[title]" target="_blank" class="xi2" style="">$value[title]</a> </dt>
                <dd>$value[summary]</dd>
                <dd class="xg1">
                    <!--{if $value[catname] && $cat[subs]}-->{lang category}: <label><a href="{$portalcategory[$value['catid']]['caturl']}" class="xi2">$value[catname]</a></label>&nbsp;&nbsp;<!--{/if}-->
                    <span  class="wk_xg1">$week_lang[11]: $value[dateline]</span>
                    <!--{if $_G['group']['allowmanagearticle'] || ($_G['group']['allowpostarticle'] && $value['uid'] == $_G['uid'] && (empty($_G['group']['allowpostarticlemod']) || $_G['group']['allowpostarticlemod'] && $value['status'] == 1)) || $categoryperm[$value['catid']]['allowmanage']}-->
                    <span class="xg1">
                        <span class="pipe">|</span>
                        <label><a href="portal.php?mod=portalcp&ac=article&op=edit&aid=$value[aid]" class="wk_xg1">{lang edit}</a></label>
                        <span class="pipe">|</span>
                        <label><a href="portal.php?mod=portalcp&ac=article&op=delete&aid=$value[aid]" id="article_delete_$value[aid]" onclick="showWindow(this.id, this.href, 'get', 0);" class="wk_xg1">{lang delete}</a></label>
                    </span>
                    <!--{/if}-->
                </dd>
                <div class="clear"></div>
            </dl>
            <!--{eval $wy++}-->	
            <!--{/loop}-->
        </div>
        <div class="clear"></div>
		<!--{ad/articlelist/mbm hm/3}--><!--{ad/articlelist/mbm hm/4}-->
		<!--{if $list['multi']}--><div class="pgs cl">{$list['multi']}</div><!--{/if}-->
		<!--[diy=diycontentbottom]--><div id="diycontentbottom" class="area"></div><!--[/diy]-->
        <div class="clear"></div>
</div>
</div>

<div class="wp mtn">
	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>

<!--{template common/footer}-->