<!--{template common/header}-->
<!--[name]{moke8_edu_problem}[/name]-->
<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->

<!--{ad/text/wp a_t}-->
<style id="diy_style" type="text/css"></style>

</div>
<div class="wk_content_left">
    <div class="wk_content_left4">
        <div class="wk_content_bottom">
            <div class="wp">
                <div class="wk_content_left_t">
                    <span class="wk_content_left_t1">$week_lang[128]</span>
                    <span class="wk_content_left_t2">$week_lang[129]</span>
                </div>
                <div class="wk_content_right_t">
                    <!--{if ($_G['group']['allowpostarticle'] || $_G['group']['allowmanagearticle'] || $categoryperm[$catid]['allowmanage'] || $categoryperm[$catid]['allowpublish']) && empty($cat['disallowpublish'])}-->
                    <a href="portal.php?mod=portalcp&ac=article&catid=$cat[catid]" class="wk_content_right_t1">{lang article_publish}</a>
                    <!--{/if}-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wk_ymbg">
<div id="wp" class="wp">

<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>

<div id="ct" class="ct2 wp cl">
	<div class="mn">
    	<div class="wk_c_right_name">
            <div class="wk_c_right_name_l">
                <span class="wk_c_right_name_l2">$cat[catname]</span>
            </div>
            <div class="wk_c_right_name_r">
                <ul>
                    <li>
                        <span>$week_lang[8]</span>
                        <span><a href="$_G[setting][navs][1][filename]">{lang portal}</a></span>
                        <span>$week_lang[17]</span>
                        <!--{loop $cat[ups] $value}--><span><a href="{$portalcategory[$value['catid']]['caturl']}">$value[catname]</a></span><span>$week_lang[17]</span><!--{/loop}-->
                        <span>$cat[catname]</span>
                    </li>
                    <li>
                        <img src="$_G['style']['styleimgdir']/portal/right_wz.png" alt="" />
                    </li>
                </ul>
            </div>
        </div>
		<!--{ad/articlelist/mbm hm/1}--><!--{ad/articlelist/mbm hm/2}-->
		<!--[diy=listcontenttop]--><div id="listcontenttop" class="area"></div><!--[/diy]-->
        <div class="wk_problem">
            <ul>
            <!--{eval $wt=1}-->
            <!--{loop $list['list'] $value}-->
            <!--{eval $highlight = article_title_style($value);}-->
            <!--{eval $article_url = fetch_article_url($value);}-->	
                <li {if is_int($wt/3)}style="margin-right:0;"{/if}>
					<div class="wk_pd">
                    	<span>
                        	{echo date('Y-M-d', strtotime($value[dateline]));}<!--{if $_G['group']['allowmanagearticle'] || ($_G['group']['allowpostarticle'] && $value['uid'] == $_G['uid'] && (empty($_G['group']['allowpostarticlemod']) || $_G['group']['allowpostarticlemod'] && $value['status'] == 1)) || $categoryperm[$value['catid']]['allowmanage']}-->
                            <span class="pipe">|</span>
                            <label><a href="portal.php?mod=portalcp&ac=article&op=edit&aid=$value[aid]">{lang edit}</a></label>
                            <span class="pipe">|</span>
                            <label><a href="portal.php?mod=portalcp&ac=article&op=delete&aid=$value[aid]" id="article_delete_$value[aid]" onclick="showWindow(this.id, this.href, 'get', 0);">{lang delete}</a></label>
                            <!--{/if}-->
                       	</span>
                        <h2><a href="$article_url" target="_blank" title="$value[title]" $highlight>$value[title]</a> <!--{if $value[status] == 1}-->({lang moderate_need})<!--{/if}--></h2>
                        <span>{echo cutstr($value[summary],150)}</span>
                    </div>
                </li>
                <!--{eval $wt++}-->	
            <!--{/loop}-->
            </ul>
        </div>
        <div class="clear"></div>
		<!--{ad/articlelist/mbm hm/3}--><!--{ad/articlelist/mbm hm/4}-->
		<!--{if $list['multi']}--><div class="pgs cl">{$list['multi']}</div><!--{/if}-->
		<!--[diy=diycontentbottom]--><div id="diycontentbottom" class="area"></div><!--[/diy]-->
	</div>
    <div class="sd pph">
    	<div class="wk_c_left_t">
            <span class="wk_c_left_t1">$week_lang[72]</span> <span class="wk_c_left_t2">$week_lang[73]</span>
        </div>
        <!--{if $cat[others]}-->
        <div class="wk_c_left_cnt">
            <ul>
                <!--{loop $cat[others] $value}-->
                    <li class="wk_menu1_cur"><a href="{$portalcategory[$value['catid']]['caturl']}" {if $value['catid'] == $cat['catid']}class="a"{/if}>$value[catname]</a></li>
                <!--{/loop}-->
            </ul>
        </div>
        <!--{/if}-->
        <div class="clear"></div>
	<!--{if $wk_sides}-->
        <div class="wk_c_left_hot">
            <span class="wk_c_left_hot1">$week_lang[47]</span><span class="wk_c_left_hot2">Top</span>
        </div>
        <div class="wk_left_hotdiy"> 
            <div class="wk_left_hotcss"> <!--[diy=diy_hot]--><div id="diy_hot" class="area"></div><!--[/diy]--></div>
        </div>
        <div class="clear"></div>
        <div class="wk_c_left_hot">
            <span class="wk_c_left_hot1">$week_lang[48]</span><span class="wk_c_left_hot2">Outstanding</span>
        </div>
        <div class="wk_left_hotdiy"> 
            <div class="wk_left_hotcss"> <!--[diy=diy_tj]--><div id="diy_tj" class="area"></div><!--[/diy]--></div>
        </div>
        <div class="clear"></div>
        <div class="wk_link_pro">
            <a href="http://wpa.qq.com/msgrd?v=3&uin=$week_lang[49]&site=qq&menu=yes" target="_blank" title="$week_lang[22]"><img src="$_G['style']['styleimgdir']/portal/feedback.png" alt=""/></a>
        </div>
    <!--{/if}-->
    </div>
</div>
</div>

<div class="wp mtn">
	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>

<!--{template common/footer}-->