.photo-big h3 {
	height:26px;
	overflow:hidden;
}
.meta {
	height:30px;
	margin-top:15px;
	border-bottom:1px solid #e5e5e5;
	font-size:12px;
}
.meta span {
	float:left;
	height:30px;
	line-height:30px;
}
.meta span a {
	text-decoration:none;
}
.meta .delim {
	position:relative;
	height:30px;
	padding-right:10px;
	margin-right:10px;
	border-right:1px solid #e5e5e5;
}
.meta .meta-column {
	}.meta .meta-column i {
	width:20px;
	height:30px;
	float:left;
	display:inline;
	margin-right:5px;
	background:url(../../template/jeavi_where/style/column.png) no-repeat 50% 50%;
	_background-image:url(../../template/jeavi_where/style/column.gif);
}
.meta .meta-data {
	}.meta .meta-comments {
	}.meta .meta-comments i {
	width:20px;
	height:30px;
	float:left;
	display:inline;
	margin-right:5px;
	background:url(../../template/jeavi_where/style/comment.png) no-repeat 50% 50%;
	_background-image:url(../../template/jeavi_where/style/comment.gif);
}
.photo-big .text-box {
	width:310px;
	position:absolute;
	left:0;
	bottom:0;
	padding:5px 10px;
	background:url(../../template/jeavi_where/style/black.png) repeat;
	_background:none;
}
.photo-big .text-box h3 {
	line-height:24px;
	font-size:16px;
	color:#FFF;
	font-weight:700;
}
.photo-big .text-box h3 a {
	font-size:16px;
	color:#FFF;
}
.text-box .meta {
	margin-top:5px;
	height:20px;
	line-height:20px;
	border:none;
	color:#fff;
}
.text-box .meta a,.text-box .meta span {
	color:#fff;
	font-size:14px;
}
.wonderful .text-box {
	background:url(../../template/jeavi_where/style/wonderful-pic.png) repeat;
	_background:none;
}
.hover-box,.soc-icons a,.clients-item a,a.link,.feature-box-wrap {
	-moz-transition:background .2s ease-out,opacity .2s ease-out;
	-webkit-transition:background .2s ease-out,opacity .2s ease-out;
	-o-transition:background .2s ease-out,opacity .2s ease-out;
	transition:background .2s ease-out,opacity .2s ease-out;
}
.focus_box {
	width:680px;
	position:relative;
	height:400px;
	overflow:hidden;
}
.focus_box .bd {
	}.focus_box .bd li {
	}.focus_box .bd .t_box {
	width:350px;
	padding:10px 15px;
	color:#888;
	position:absolute;
	left:30px;
	bottom:50px;
}
.focus_box .bd  .header_avatar {
	height:48px;
	width:48px;
	border:2px solid #A6A4AC;
	float:left;
	margin:4px 16px 0 0;
}
.focus_box .bd  .header_avatar img {
	width:48px;
	height:48px;
}
.focus_box .bd .t_box h2 {
	width:350px;
	overflow:hidden;
	line-height:28px;
	margin:5px 0 5px;
}
.focus_box .bd .t_box h2 a {
	font-size:20px;
	color:#FFF;
}
.focus_box .focus-avatar {
	float:left;
	display:inline;
	width:50px;
	height:40px;
}
.focus_box .focus-avatar img {
	width:40px;
	height:40px;
	border-radius:40px;
}
.focus_box .bd .t_box p {
	font-size:12px;
	line-height:18px;
	color:#EEE;
}
.focus_box .bd .t_box p a {
	color:#FFF;
}
.focus_box img {
	display:block;
}
.focus_box .hd {
	position:absolute;
	right:10px;
	bottom:15px;
	height:14px;
	overflow:hidden;
}
.focus_box .hd li {
	display:inline-block;
	overflow:hidden;
	height:13px;
	width:13px;
	background:#d1d1d1;
	cursor:pointer;
	margin:0 6px 0 0;
	text-indent:-999px;
	float:left;
	border-radius:20px;
}
.focus_box .hd .on {
	background:#1BADB6;
}
.focus_box .direction a {
	width:42px;
	height:79px;
	margin:-20px 0 0 0;
	display:block;
	position:absolute;
	top:40%;
	cursor:pointer;
	text-indent:-999em;
	_display:none;
}
.focus_box .direction .prev {
	left:10px;
	background:url(../../template/jeavi_where/style/flex-left-arrow.png) no-repeat 50% 50%;
}
.focus_box .direction .next {
	right:10px;
	background:url(../../template/jeavi_where/style/flex-right-arrow.png) no-repeat 50% 50%;
}
.left-con,.ct2 .mn {
	width:680px;
	float:left;
}
.right-con,.ct2 .sd {
	width:280px;
	_overflow:hidden;
	float:right;
}
.portal-hd {
	height:30px;
	line-height:30px;
	margin:0 0 25px;
	padding:15px 0;
	_padding:15px 0 0;
	border-bottom:2px solid #eee;
}
.portal-hd h2 {
	float:left;
	color:#3e4142;

	font-size:18px;
	border-bottom:2px #1BADB6 solid;
	padding-bottom:13px;
	_padding-bottom:15px;
	position:relative;
	left:0;
	bottom:-2px;
}
.portal-hd .more {
	float:right;
	font-size:14px;
}
.photo-part {
	}.photo-part .columns {
	width:680px;
	margin-bottom:10px;
}
.photo-big {
	width:330px;
	float:left
}
.photo-big img {
	width:330px;
	height:220px;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
}
.photo-big a:hover img {
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-o-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
}
.photo-big .photo-pic {
	width:330px;
	height:220px;
	margin-bottom:20px;
	position:relative;
	overflow:hidden;
}
.photo-big h3 {
	line-height:26px;
	font-size:16px;
}
.photo-big h3 a {
	text-decoration:none;
	color:#1BADB6;
}
.photo-big p {
	line-height:26px;
	font-size:14px;
	color:#777;
}
.photo-small {
	float:right;
	width:320px;
}
.photo-small .meta {
	border:none;
	position:absolute;
	bottom:0;
	left:115px;
}
.photo-small ul {
	}.photo-small li {
	height:75px;
	margin:0 0 20px;
	overflow:hidden;
	position:relative;
}
.photo-small .photo-pic {
	width:100px;
	height:75px;
	margin-right:15px;
	float:left;
	position:relative;
	overflow:hidden;
}
.photo-small .photo-pic img {
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
}
.photo-small .photo-pic a:hover img {
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-o-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
}
.photo-small h3 {
	line-height:26px;
	height:26px;
	font-size:15px;
	overflow:hidden;
	margin-bottom:5px;
}
.photo-small h3 a {
	text-decoration:none;
}
.photo-small p {
	line-height:24px;
	color:#777;
}
.web-info {
	width:280px;
	overflow:hidden;
	margin:-10px 0 30px;
}
.web-info ul {
	width:282px;
}
.web-info li {
	width:92px;
	height:120px;
	background:#FFF;
	float:left;
}
.web-info em {
	width:83px;
	height:73px;
	display:block;
	overflow:hidden;
}
.web-info em i {
	width:50px;
	height:50px;
	margin:10px auto;
	background:url(../../template/jeavi_where/style/web_info.png) no-repeat;
	display:block;
	overflow:hidden;
}
.web-info .toadypost i {
	background-position:-50px -50px;
}
.web-info a:hover .toadypost i {
	background-position:0 -50px;
}
.web-info .allpost i {
	background-position:-50px 0;
}
.web-info a:hover .allpost i {
	background-position:0 0;
}
.web-info .alluser i {
	background-position:-50px -100px;
}
.web-info a:hover .alluser i {
	background-position:0 -100px;
}
.web-info .info_num {
	width:83px;
	text-align:center;
	color:#444;
	display:block;
	font-size:16px;
	font-weight:700
}
.web-info .info_num p {
	height:22px;
	line-height:22px;
	font-size:12px;
	font-weight:100;
}
.web-info a:hover {
	text-decoration:none;
}
.right-ad {
	width:280px;
}
.ranking {
	}.ranking .hd {
	margin-bottom:10px;
	background:#F5F5F5;
	height:44px;
}
.ranking .hd ul {
	float:left;
	height:44px;
	line-height:44px;
}
.ranking .hd li {
	float:left;
	font-size:14px;
	padding:0 20px;
	cursor:pointer;
	color:#333;
}
.ranking .hd li.on {
	background:#1BADB6;
	color:#FFF;
}
.ranking .bd .top10 {
	padding-top:6px;
}
.ranking .bd .top10 li {
	width:280px;
	height:17px;
	line-height:17px;
	margin:7px 0;
	overflow:hidden;
	color:#1BADB6;
	float:left;
}
.ranking .bd .top10 li a {
	font-size:14px;
}
.ranking .bd .top10 .num {
	background-color:#d7d8d7;
	width:17px;
	height:17px;
	float:left;
	display:inline-block;
	text-align:center;
	color:#fff;
	font-family:Arial;
	line-height:17px;
	font-size:12px;
	margin-right:8px;
}
.ranking .bd .top10 .top .num {
	background-color:#1BADB6;
}
.sort-nav {
	width:680px;
	height:150px;
	position:relative;
	background:#FFF url(../../template/jeavi_where/style/sort-nav.jpg) no-repeat;
}
.sort-nav .imgbox {
	position:absolute;
	top:25px;
	right:0;
	background:url(../../template/jeavi_where/style/img_003.png) 0 0 no-repeat;
	height:50px;
	width:450px;
}
.sort-nav .imgbox .btn_create {
	background:#fff url(../../template/jeavi_where/style/portal_icon.png) -100px 0 no-repeat;
	width:130px;
	height:36px;
	float:right;
	display:block;
	overflow:hidden;
	color:#FFF;
	text-decoration:none;
	font-size:20px;
	line-height:36px;
	text-indent:12px;
}
.sort-nav .imgbox a:hover.btn_create {
	background-position:-100px -40px;
}
.sort-nav .list_item {
	position:absolute;
	top:80px;
	left:235px;
	width:450px;
	white-space:nowrap;
}
.sort-nav .list_item .item {
	line-height:22px;
	float:left;
	display:inline;
	padding:0 10px;
}
.sort-nav .list_item .item .link {
	color:#555
}
.sort-nav .list_item .item .link:hover {
	color:#f60
}
.star_box .home {
	width:280px;
	overflow:hidden;
}
.star_box .home .list {
	width:290px;
}
.star_box .home .list li {
	width:41px;
	height:41px;
	line-height:35px;
	overflow:hidden;
	text-align:center;
	margin:0 6px 5px 0;
	float:left;
}
.star_box .home .list li img {
	width:41px;
	height:41px;
}
.star_box .home .list li a:hover img {
	width:37px;
	height:37px;
	border:2px solid #1BADB6;
}
.star_box .avatar a {
	width:70px;
	height:70px;
	display:block;
	position:relative;
}
.star_box .avatar .icon {
	width:27px;
	height:27px;
	position:absolute;
	top:0;
	right:0;
	background:url(../../template/jeavi_where/style/bgtit.png) no-repeat 0 -50px;
}
.daren {
	color:#666;
	margin-bottom:15px;
}
.star_box .home .list .more,.star_box .home .list .more a {
	background:#1BADB6;
	width:40px;
	height:40px;
	line-height:40px;
	display:block;
	color:#fff;
	padding:0;
	font-size:12px;
	text-decoration:none;
}
.star_box .home .list .more a:hover {
	background:#0D9199
}
.user_ranking {
	background:#f7f7f7;
	width:240px;
	padding:15px 20px;
	margin-top:20px;
}
.user_ranking .bgtit {
	background-color:#F6F6F6;
	background-position:-491px 0;
}
.user_ranking .bgtit h2 {
	padding-left:15px;
}
.user_ranking .bgtit ul {
	float:right;
	margin-right:2px;
}
.user_ranking .hd .pipe {
	float:left;
	margin-left:-5px;
	margin-right:15px;
}
.user_ranking .hd li {
	float:left;
	text-align:center;
	height:36px;
	line-height:36px;
	font-size:16px;
	padding:0 10px;
	cursor:pointer;
	display:inline-block;
}
.user_ranking .hd li.on {
	line-height:36px;
	color:#0093D0;
}
.user_ranking .bd {
	margin-top:5px;
}
.user_ranking .bd li {
	width:190px;
	margin:0 20px;
	height:30px;
	line-height:30px;
	display:inline-block;
	overflow:hidden;
	float:left;
}
.user_ranking .bd li img {
	margin:0 9px;
	position:relative;
	top:5px;
}
.user_ranking .bd li em {
	margin-right:8px;
	font-size:14px;
}
.user_ranking .bd li a {
	color:#007ed9;
}
.user_ranking .bd li .top {
	color:#feab51;
}
.wonderful {
	margin-bottom:20px;
	width:680px;
	overflow:hidden;
}
.wonderful .bd {
	width:680px;
	position:relative;
}
.wonderful .bd ul {
	width:700px;
}
.wonderful .bd li {
	width:214px;
	margin-right:20px;
	float:left;
}
.wonderful .bd li .wonderful-pic {
	width:214px;
	height:144px;
	position:relative;
}
.wonderful .bd li .cat-num {
	position:absolute;
	left:0;
	bottom:4px;
	height:24px;
	padding:0 6px;
	line-height:24px;
	font-size:14px;
	color:#FFF;
	text-decoration:none;
	background:#feab51;
}
.wonderful .bd li a:hover.cat-num {
	background:#647687
}
.wonderful .wonderful-box {
	padding:14px 10px 10px;
	background-color:#f6f6f6;
	border:solid 1px #efefef;
	border-top:0;
}
.wonderful .wonderful-avatar {
	float:left;
	display:inline;
	width:40px;
	height:35px;
}
.wonderful .wonderful-avatar img {
	width:30px;
	height:30px;
	border-radius:15px;
	-webkit-border-radius:15px;
	-o-border-radius:15px;
	-moz-border-radius:15px;
}
.wonderful h3 {
	line-height:22px;
	font-size:13px;
	height:22px;
	overflow:hidden;
}
.wonderful h3 a {
	text-decoration:none;
}
.wonderful .hd ul {
	float:right;
	margin-top:20px;
}
.wonderful .hd li {
	float:left;
	width:9px;
	height:9px;
	margin-left:6px;
	margin-top:1px;
	border-radius:20px 20px 20px 20px;
	overflow:hidden;
	background:#d1d1d1;
	cursor:pointer;
	text-indent:-999px;
}
.wonderful .hd li.on {
	width:11px;
	height:11px;
	margin:0 0 0 5px;
	background:#1BADB6;
}
.travel_c {
	}.travel_c .btit {
	height:23px;
}
.travel_c .hd h2 {
	float:left;
	padding-left:10px;
	border-left:4px solid #feab51;
	font-size:22px;
	color:#333;
}
.travel_c .hd {
	height:50px;
	border-bottom:1px solid #E6E6E6;
}
.travel_c .hd ul {
	float:right;
	margin-top:5px;
}
.travel_c .hd li {
	height:30px;
	cursor:pointer;
	line-height:30px;
	font-size:18px;
	text-align:center;
	padding:0 20px;
	position:relative;
	color:#1BADB6;
	float:left;
}
.travel_c .hd li .splite {
	width:1px;
	height:20px;
	margin-top:5px;
	position:absolute;
	right:0;
	border-right:1px solid #e6e6e6;
}
.travel_c .hd li.on {
	color:#666;
}
.boutique_list {
	}.boutique_list li {
	float:left;
	width:680px;
	overflow:hidden;
	padding:20px 0;
	border-bottom:1px dashed #EEE;
	position:relative;
}
.boutique_list .p {
	width:196px;
	height:130px;
	display:block;
	float:left;
	position:relative;
	margin-right:20px;
}
.boutique_list .p .icon {
	position:absolute;
	width:25px;
	height:35px;
	top:0;
	left:0;
	background:url(../../template/jeavi_where/style/portal_icon.png) no-repeat;
}
.boutique_list .p .icon.icon-good {
	background-position:0 0;
}
.boutique_list .p .icon.icon-free {
	background-position:-29px 0;
}
.boutique_list .p .icon.icon-praise {
	background-position:-58px 0;
}
.boutique_list .t {
	width:464px;
	height:26px;
	line-height:26px;
	overflow:hidden;
}
.boutique_list .t a {
	font-size:18px;
	color:#1BADB6;
}
.boutique_list .t a:hover {
	color:#647687
}
.boutique_list img {
	width:196px;
	height:130px;
	background:url(../../template/jeavi_where/style/loading.gif) no-repeat center center;
}
.boutique_list .c {
	line-height:26px;
	font-size:14px;
	color:#777;
}
.boutique_list .move {
	width:88px;
	height:24px;
	position:absolute;
	bottom:20px;
	right:0;
	display:block;
	line-height:24px;
	background:#F70;
	border-bottom:2px solid #F30;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	text-shadow:0 1px 0 #F30;
}
.boutique_list a:hover.move {
	background:#F30;
}
.boutique_list .other {
	height:20px;
	line-height:14px;
	width:178px;
	color:#999;
	padding-top:8px;
	float:left;
}
.boutique_list .other b {
	width:16px;
	height:14px;
	vertical-align:middle;
	margin-right:5px;
	overflow:hidden;
	display:inline-block;
}
.boutique_list .other b.view {
	background-position:-20px -3px;
}
.boutique_list .other b.replies {
	background-position:-42px -3px;
	margin-left:10px;
}
.new-pic .photo-small {
	width:680px;
	margin-top:0;
}
.new-pic .bd {
	width:680px;
	overflow:hidden;
}
.new-pic .bd ul {
	width:700px;
}
.new-pic .bd li {
	width:330px;
	margin-right:20px;
	float:left;
}
.new-article .photo-small {
	width:280px;
}
.new-article .bd li {
	width:280px;
	height:auto;
	float:left;
	background:none;
	padding:0;
	margin-bottom:20px;
}
.new-article .bd .quote {
	width:24px;
	height:22px;
	float:left;
	padding-left:0;
	margin:0;
	background:url(../../template/jeavi_where/style/quote.png) no-repeat 50% 50%;
}
.new-article .bd h3 {
	line-height:26px;
	height:26px;
	font-size:15px;
	overflow:hidden;
	margin-bottom:5px;
}
.new-article .bd h3 a {
	text-decoration:none;
}
.photo-big-s {
	width:280px;
	float:left
}
.photo-big-s img {
	width:280px;
	height:187px;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
}
.photo-big-s a:hover img {
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-o-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
}
.photo-big-s .photo-pic {
	width:280px;
	height187px;
	margin-bottom:20px;
	position:relative;
	overflow:hidden;
}
.photo-big-s h3 {
	line-height:26px;
	font-size:16px;
}
.photo-big-s h3 a {
	text-decoration:none;
	color:#484d4f;
}
.photo-big-s h3 a:hover {
	color:#647687
}
.photo-big-s p {
	line-height:26px;
	font-size:14px;
	color:#777;
}
.all-pic {
	}.all-pic li {
	float:left;
	margin-bottom:10px;
	position:relative;
}
.all-pic-l {
	width:596px;
	height:270px;
	overflow:hidden;
	margin:0 10px 10px 0;
	float:left;
}
.all-pic-r {
	width:394px;
	height:270px;
	overflow:hidden;
	margin:0 0 10px 0;
	float:left;
}
.pic-large {
	width:596px;
	height:270px;
	float:left;
}
.pic-minimal {
	width:192px;
	float:left;
}
.pic-small {
	width:394px;
	float:left;
}
.mask {
	position:absolute;
	display:block;
	height:100%;
	width:100%;
	top:0;
	left:0;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-ms-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	background:url(../../template/jeavi_where/style/gallery.png) center center no-repeat rgba(87,186,232,0);
	background-size:0 0;
	opacity:0;
	filter:alpha(opacity=0);
	_display:none;
}
a:hover.mask {
	background:url(../../template/jeavi_where/style/gallery.png) center center no-repeat rgba(27,173,182,.7);
	background-size:31px 25px;
	opacity:1;
	filter:alpha(opacity=100);
}
.mask h4 {
	opacity:0;
	filter:alpha(opacity=0);
	position:absolute;
	color:#fff;
	left:0;
	width:100%;
	text-align:center;
	text-shadow:0 1px 2px #000;
}
a:hover.mask h4 {
	font-size:14px;
	bottom:15px;
	font-weight:500;
	filter:alpha(opacity=100);
	opacity:1;
}
.v-mask {
	background:#647687;
	position:absolute;
	top:0;
	left:0;
	font-size:14px;
	color:#FFF;
	height:30px;
	line-height:30px;
	padding:0 10px;
}
.index_link ul {
	white-space:nowrap;
}
.index_link li {
	height:30px;
	font-size:14px;
	line-height:30px;
	float:left;
	margin-right:20px;
}
.portal-hd .rss {
	margin-left:10px;
	margin-top:10px;
	padding-left:30px;
	display:block;
	background:url(../../template/jeavi_where/style/rss.png) no-repeat 0 45%;
}
.portal-hd .add {
	margin-left:10px;
	margin-top:10px;
	padding-left:30px;
	display:block;
	background:url(../../template/jeavi_where/style/addthis.png) no-repeat 0 45%;
}
.pic-list {
	width:680px;
	margin-top:-15px;
}
.pic-list li {
	width:680px;
	height:152px;
	overflow:hidden;
	margin:15px 0;
	float:left;
}
.pic-list .photo-big p {
	height:75px;
	overflow:hidden;
	margin-top:10px;
}
.pic-list .photo-big .meta {
	border:none;
	margin-top:5px;
}
.pic-list .photo-big .photo-pic {
	width:220px;
	height:152px;
	float:left;
	margin:0 25px 0 0;
}
.pic-list .photo-big .photo-pic img {
	width:220px;
	height:152px;
}
.pic-tow-list {
	width:700px;
}
.pic-tow-list li {
	width:330px;
	height:415px;
	margin-bottom:25px;
	overflow:hidden;
	float:left;
}
.pic-tow-list .photo-big p {
	height:78px;
	overflow:hidden;
}
.no-pic {
	width:330px;
	height:220px;
	background:url(../../template/jeavi_where/style/nopic.png) no-repeat 50% 50%;
}
.list_box {
	margin-bottom:15px;
}
.portal_sort {
	margin-top:20px;
}
.portal_sort ul {
	overflow:hidden;
}
.portal_sort li {
	float:left;
	padding:0 10px 5px 0;
}
.portal_sort li a {
	text-decoration:none;
	padding:0 3px;
	display:inline-block;
	font-size:16px;
}
.ct2 .sd .wonderful .bd,.ct2 .sd .wonderful li,.ct2 .sd .wonderful li .wonderful-pic {
	width:280px;
}
.ct2 .sd .wonderful .text-box {
	width:260px;
}
#nv_portal .vw .h,#nv_portal .vw .s,#nv_portal .vw .d,#nv_portal .vw .o,#nv_portal .vw .pren,#nv_forum .vw .h,#nv_forum .vw .s,#nv_forum .vw .d {
	margin-left:0;
	margin-right:0;
}
.h .xg1,.h .xg1 a {
	color:#ACACAC !important;
}
.h_avr {
	display:inline-block;
	float:left;
	margin:15px 10px 15px 0;
}
.h_avr img {
	width:58px;
	height:58px;
	border-radius:5px;
}
.vw .hm {
	text-align:left;
}
.vw  .ph {
	font-size:20px;
}
.vw .h {
	border:none;
	padding-bottom:0;
}
.vw .s {
	border:none;
	border-left:5px solid #ddd;
	padding:0px 14px 0px 14px;
	margin:22px 0 22px 0;
	font-style:italic;
	font-size:14px;
	color:#888;
}
.vw .s strong {
	color:#1BADB6;
}
.vw .s {
	color:#888;
}
#nv_portal .vw .pren em {
	width:48%;
	display:block;
	height:24px;
	line-height:24px;
	overflow:hidden;
	font-size:14px;
}
#nv_portal .vw .pren em a {
	color:#1BADB6;
	font-size:14px;
}
#nv_portal .vw .pren em.y {
	text-align:right;
}
#related_article .bm_c {
	padding:10px 0;
}
#related_article .xl2 li {
	width:50%;
	height:26px;
	line-height:26px;
	font-size:14px;
	margin:0;
}
.mls .avt img {
	width:46px;
	height:46px;
	padding:0;
	max-width:100%;
	vertical-align:top;
	border-radius:50%;
	border:none;
}
.vw .d img {
	max-width:680px;
}
.atd .num em {
	font-size:16px;
}
.atdc div {
	display:none;
}
.vw .o {
	border:none;
}
.oshr {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #CDCDCD;
}
#comment .portal_tit {
	border-bottom:none;
	margin-bottom:0;
	height:36px;
	line-height:36px;
}
#comment .portal_tit h3 {
	font-size:16px;
	line-height:36px;
	border-bottom:none;
	float:left;
}
#comment .portal_tit em {
	margin-left:20px;
	float:right;
}
#comment_ul {
	padding-top:5px;
}
#comment_ul ul {
	padding-left:70px;
}
#comment_ul .mbm {
	position:relative;
}
#comment_ul .portrait {
	position:absolute;
	left:-70px;
	top:0;
}
#comment_ul .portrait img {
	width:40px;
	height:40px;
	max-width:100%;
	vertical-align:top;
	border-radius:50%;
}
#comment_ul .username {
	margin-right:10px;
}
#comment_ul .xg1,#comment_ul .xg1 a {
	color:#ccc!important;
}
.ie6 #comment_ul #cform,.ie7 #comment_ul #cform {
	height:141px;
}
.tedt {
	border:none;
	width:680px;
	overflow:hidden;
}
.tedt .pt {
	width:678px;
	height:100px;
	padding:8px 10px!important;
	line-height:1.6;
	border:1px solid #D9D9D9;
	background-color:#F7F7F7;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	overflow:hidden;
	vertical-align:middle;
	resize:vertical;
	color:#999;
}
.ie6 .tedt,.ie7 .tedt {
	height:120px;
}
.ie6 .tedt .pt,.ie7 .tedt .pt {
	width:657px;
}
.tedt .pt.bgchange {
	background:#FFF;
	background-color:#FFF;
	-webkit-box-shadow:1px 1px 2px #e6e6e6;
	-moz-box-shadow:1px 1px 2px #e6e6e6;
	box-shadow:1px 1px 2px #e6e6e6;
	color:#BBB;
}
.ptn {
	padding-top:15px !important;
}