<script type="text/javascript">
	function reply(obj){
		var o = jQuery(obj).parent().parent().find('.tt_wenzhang_pinglun_list_repect');
		o.show();
		o.find("textarea").focus();
	}
	function noreply(obj){
		var o = jQuery(obj).closest('.tt_wenzhang_pinglun_list_repect');
		o.hide();
	}

	function helc(){
		window.location.href='$_SERVER['REQUEST_URI']'+'#comment';
		window.location.reload();
	}
</script>
<div class="tt_wenzhang_pinglun">
	<h2 class="tt_jiaodian_h cl"><a name="comment">最新评论</a></h2>
	
	<ul class="tt_wenzhang_pinglun_list">
		<!--{loop $commentlist $comment}-->
		<li class="cl">
			<a href="/space-uid-{$comment[uid]}.html" class="tt_wenzhang_pinglun_list_photo z" target="_blank"><!--{avatar($comment[uid], 'small')}--></a>
			<div class="tt_wenzhang_pinglun_list_des z">
				<a href="javascript:;" class="tt_wenzhang_pinglun_list_btn y" onclick="reply(this);">回复</a>
				<!--{if $comment['pid'] && $_G['group']['allowmanagearticle'] && $_G['groupid'] != 7 }-->
				<span class="pipe y">|</span><a class="y" href="portal.php?mod=portalcp&ac=article&aid=$aid&op=deletepost&pid=$comment[pid]" id="p_$comment[pid]_delete" onclick="return confirm('确定删除？')">{lang delete}</a>
				<!--{/if}-->
				<!--{if ($_G['group']['allowmanagearticle'] || $_G['uid'] == $comment['uid']) && $_G['groupid'] != 7 && !$article['idtype']}-->
				<span class="pipe y">|</span><a class="y" href="portal.php?mod=portalcp&ac=comment&op=edit&cid=$comment[cid]" id="c_$comment[cid]_edit" onclick="showWindow(this.id, this.href, 'get', 0);">{lang edit}</a>
				<span class="pipe y">|</span><a class="y" href="portal.php?mod=portalcp&ac=comment&op=delete&cid=$comment[cid]" id="c_$comment[cid]_delete" onclick="showWindow(this.id, this.href, 'get', 0);">{lang delete}</a>
				<!--{/if}-->
				<a href="/space-uid-{$comment[uid]}.html" class="tt_wenzhang_pinglun_list_name">$comment[username]</a>
				<span class="tt_wenzhang_pinglun_list_time"><!--{date($comment[dateline])}--></span>
				<div class="tt_wenzhang_pinglun_list_c"><!--{if $_G[adminid] == 1 || $comment[uid] == $_G[uid] || $comment[status] != 1}-->$comment[message]<!--{else}--> {lang moderate_not_validate}<!--{/if}--></div>
				{eval $hasc = 0;}
				<!--{loop $subcommets $subcomment}-->
				{if ($subcomment[parentid] && $subcomment[parentid]==$comment[cid]) || ($comment[pid] && $subcomment[pid]==$comment[pid]) }
					{eval $hasc = 1;}
				{/if}
				<!--{/loop}-->
				{if $hasc ==1}
				<div class="tt_wenzhang_pinglun_list_c_list">
					<div class="tt_wenzhang_pinglun_list_c_list_icon"></div>                        	
					<dl>
						<!--{loop $subcommets $subcomment}-->
						{if ($subcomment[parentid] && $subcomment[parentid]==$comment[cid]) || ($comment[pid] && $subcomment[pid]==$comment[pid]) }
						<dd class="cl">
							<a href="/space-uid-{if $subcomment[uid]}$subcomment[uid]{else}$subcomment[authorid]{/if}.html" class="tt_wenzhang_pinglun_list_photo z" target="_blank">{if $subcomment[uid]}<!--{avatar($subcomment[uid], 'small')}-->{else}<!--{avatar($subcomment[authorid], 'small')}-->{/if}</a>
							<div class="tt_wenzhang_pinglun_list_des z">
								<a href="/space-uid-{if $subcomment[uid]}$subcomment[uid]{else}$subcomment[authorid]{/if}.html" class="tt_wenzhang_pinglun_list_name">{if $subcomment[username]}$subcomment[username]{else}$subcomment[author]{/if}</a>
								<span class="tt_wenzhang_pinglun_list_time"><!--{date($subcomment[dateline])}--></span>
								<div class="tt_wenzhang_pinglun_list_c"><!--{if $_G[adminid] == 1 || $subcomment[uid] == $_G[uid] || $subcomment[status] != 1}-->$subcomment[message]<!--{else}--> {lang moderate_not_validate}<!--{/if}--></div>                                   
							</div>
						</dd>
						{/if}
						<!--{/loop}-->
					</dl>
				</div>      
				{/if}
			</div>
			<div class="tt_wenzhang_pinglun_list_repect" style="display:none;">
					{if $_G[uid]}
					<form id="cform_$comment[pid]" class="cform" name="cform" {if $comment[pid]}onsubmit="ajaxpost('cform_$comment[pid]', 'return_comment', 'return_comment', 'onerror','',helc);return false;"{/if} action="{if $comment[pid]}forum.php?mod=post&action=reply&comment=yes&tid=$comment[tid]&pid=$comment[pid]&extra=&page=1&commentsubmit=yes&infloat=yes{else}$form_url{/if}" method="post" autocomplete="off">
						<textarea name="message" rows="" class="" id="" onkeydown="ctrlEnter(event, 'commentsubmit_btn');"></textarea>

						<!--{if checkperm('seccode') && ($secqaacheck || $seccodecheck)}-->
							<!--{block sectpl}--><sec> <span id="sec<hash>" onclick="showMenu(this.id);"><sec></span><div id="sec<hash>_menu" class="p_pop p_opt" style="display:none"><sec></div><!--{/block}-->
							<div class="mtm"><!--{subtemplate common/seccheck}--></div>
						<!--{/if}-->
						<!--{if !empty($topicid) }-->
							<input type="hidden" name="referer" value="portal.php?mod=topic&topicid=$topicid#comment" />
							<input type="hidden" name="topicid" value="$topicid">
						<!--{else}-->

							<input type="hidden" name="portal_referer" value="portal.php?mod=view&aid=$aid#comment">
							<input type="hidden" name="referer" value="portal.php?mod=view&aid=$aid#comment" />
							<input type="hidden" name="id" value="$data[id]" />
							<input type="hidden" name="idtype" value="$data[idtype]" />
							<input type="hidden" name="aid" value="$aid">
						<!--{/if}-->
						<input type="hidden" name="commentid" value="{if $comment[pid]}$comment[pid]{else}$comment[cid]{/if}">
						<input type="hidden" name="formhash" value="{FORMHASH}">
						<input type="hidden" name="replysubmit" value="true">
						<input type="hidden" name="commentsubmit" value="true" />
						<input type="hidden" value="comment" name="handlekey">
						
						<p class="ptn"><input type="submit" name="commentsubmit_btn" id="commentsubmit_btn" value="发表回复" class="tt_btn" /><label><a href="javascript:;" onclick="noreply(this);">取消回复</a></label>
						
						</p>
					</form>
					{else}
					<div class="attach_nopermission">
					<div>
					<p>您需要登录才可以回帖  <a onclick="showWindow('login', this.href);return false;" href="member.php?mod=logging&amp;action=login">登录</a> | <a title="注册帐号" href="member.php?mod=register">立即注册</a> 

					<a rel="nofollow" target="_top" href="connect.php?mod=login&op=init&referer=forum.php&statfrom=login_simple"><img class="vm" src="$_G['style']['styleimgdir']/qq_login.gif"></a>
					</div>
					</div>
					{/if}
			</div>
		</li>
		
		
		<!--{if !empty($aimgs[$comment[cid]])}-->
			<script type="text/javascript" reload="1">aimgcount[{$comment[cid]}] = [<!--{echo implode(',', $aimgs[$comment[cid]]);}-->];attachimgshow($comment[cid]);</script>
		<!--{/if}-->
		<!--{/loop}-->
		<!--{if !empty($pricount)}-->
			<p class="mtn mbn y">{lang hide_portal_comment}</p>
		<!--{/if}-->

	</ul>
	<br/>
	{if $comment_total_page>1}
	<div class="tt_wenzhang_pinglun_more">
		
		<div class="tt_wenzhang_content_pager">
		<div class="tt_tiezi_list_page">
		{$commentpager}
		</div>
		</div>
		
	</div>
	{/if}
	<div class="tt_wenzhang_pinglun_repeat cl">
		<a href="home.php?mod=spacecp&ac=avatar" class="tt_wenzhang_pinglun_list_photo z" target="_blank"><!--{avatar($_G[uid], 'small')}--></a>
		<div class="tt_wenzhang_pinglun_list_des z">
		{if $_G[uid]}
		<form id="cform" name="cform" action="$form_url" method="post" autocomplete="off">
			<textarea name="message" rows="" class="" id="message" onkeydown="ctrlEnter(event, 'commentsubmit_btn');"></textarea>

			<!--{if checkperm('seccode') && ($secqaacheck || $seccodecheck)}-->
				<!--{block sectpl}--><sec> <span id="sec<hash>" onclick="showMenu(this.id);"><sec></span><div id="sec<hash>_menu" class="p_pop p_opt" style="display:none"><sec></div><!--{/block}-->
				<div class="mtm"><!--{subtemplate common/seccheck}--></div>
			<!--{/if}-->
			<!--{if !empty($topicid) }-->
				<input type="hidden" name="referer" value="portal.php?mod=topic&topicid=$topicid#comment" />
				<input type="hidden" name="topicid" value="$topicid">
			<!--{else}-->
				<input type="hidden" name="portal_referer" value="{$_SERVER['REQUEST_URI']}#comment">
				<input type="hidden" name="referer" value="{$_SERVER['REQUEST_URI']}#comment" />
				<input type="hidden" name="id" value="$data[id]" />
				<input type="hidden" name="idtype" value="$data[idtype]" />
				<input type="hidden" name="aid" value="$aid">
			<!--{/if}-->
			<input type="hidden" name="formhash" value="{FORMHASH}">
			<input type="hidden" name="replysubmit" value="true">
			<input type="hidden" name="commentsubmit" value="true" />
			
			<p class="ptn"><input type="submit" name="commentsubmit_btn" id="commentsubmit_btn" value="发表评论" class="tt_btn" />
			
			</p>
		</form>
		{else}
		<div class="attach_nopermission">
		<div>
		<p>您需要登录才可以回帖  <a onclick="showWindow('login', this.href);return false;" href="member.php?mod=logging&amp;action=login">登录</a> | <a title="注册帐号" href="member.php?mod=register">立即注册</a> 

					<a rel="nofollow" target="_top" href="connect.php?mod=login&op=init&referer=forum.php&statfrom=login_simple"><img class="vm" src="$_G['style']['styleimgdir']/qq_login.gif"></a>
		</div>
		</div>
		{/if}
		</div>
	</div>
</div>

