<!--{subtemplate common/header}-->
<!--[name]时尚科技文章阅读模板[/name]-->

<script type="text/javascript" src="{$_G['setting']['jspath']}forum_viewthread.js?{VERHASH}"></script>
<script type="text/javascript">zoomstatus = parseInt($_G['setting']['zoomstatus']), imagemaxwidth = '{$_G['setting']['imagemaxwidth']}', aimgcount = new Array();</script>
<!--{hook/view_article_top}-->
<!--{ad/text/wp a_t}-->

<div id="tt_content" class="cl" style="margin-top:18px">
	<div class="tt_content_left z">
	<div class="tt_in_content_left">
    	<div class="tt_wenzhang_header">
        	<h2>$article[title] <!--{if $article['status'] == 1}-->({lang moderate_need})<!--{elseif $article['status'] == 2}-->({lang ignored})<!--{/if}--></h2>
            <div class="tt_in_wenzhang_header cl">
            	<p class="z">
            		{if $thread}
            		<a href="home.php?mod=space&uid=$thread[authorid]" target="_blank">$thread[author]</a>
            		{else}
            		<a href="home.php?mod=space&uid=$article[uid]" target="_blank">$article[username]</a>
            		 {/if} 发表于$article[dateline]</p>
				<!--{if $_G['group']['allowmanagearticle'] || ($_G['group']['allowpostarticle'] && $article['uid'] == $_G['uid'] && (empty($_G['group']['allowpostarticlemod']) || $_G['group']['allowpostarticlemod'] && $article['status'] == 1)) || $categoryperm[$value['catid']]['allowmanage']}-->
					<span class="pipe">|</span>
					{if $article[idtype]=='tid'}<a href="$article[fromurl]">原帖地址</a><span class="pipe">|</span>{/if}
					<a href="portal.php?mod=portalcp&ac=article&op=edit&aid=$article[aid]">{lang edit}</a>
					<!--{if $article[status]>0 && ($_G['group']['allowmanagearticle'] || $categoryperm[$value['catid']]['allowmanage'])}-->
						<span class="pipe">|</span><a href="portal.php?mod=portalcp&ac=article&op=verify&aid=$article[aid]" id="article_verify_$article[aid]" onclick="showWindow(this.id, this.href, 'get', 0);">{lang moderate}</a>
					<!--{else}-->
						<span class="pipe">|</span><a href="portal.php?mod=portalcp&ac=article&op=delete&aid=$article[aid]" id="article_delete_$article[aid]" onclick="showWindow(this.id, this.href, 'get', 0);">{lang delete}</a>
					<!--{/if}-->
				<!--{/if}-->
                <div class="y"><a href="{$_SERVER['REQUEST_URI']}#comment" class="tt_wenzhang_pinglun_maodian"><img src="$_G['style']['styleimgdir']/wenzhang_pinglun_icon.png" />评论</a>
				</div>
            </div>
        </div>
		
		<div class="tt_wenzhang_content">
			
			$content[content]
			<!--{hook/view_contentbottom}-->
		</div>
        <style>.tt_wenzhang_content_pager{ width:640px; float:left; margin:20px auto;}</style>
		<!--{if $multi && !$articleContents}--><div class="tt_wenzhang_content_pager">$multi</div><!--{/if}-->
		
		{if $_G['page']==count($contents) || !$contents || $articleContents}
        <div class="tt_wenzhang_content_more cl">
            <!--{if $article['preaid'] || $article['nextaid']}-->
				<!--{if $article['prearticle']}--><a class="z" href="{$article['prearticle']['url']}">{lang pre_article}：{$article['prearticle']['title']}</a>
                <!--{else}-->
					<span class="z">上一篇：没有了</span>
                <!--{/if}-->
				<!--{if $article['nextarticle']}--><a class="y" href="{$article['nextarticle']['url']}">{lang next_article}：{$article['nextarticle']['title']}</a>
                <!--{else}-->
					<span class="y">下一篇：没有了</span>
                <!--{/if}-->
			<!--{/if}-->
        </div>
		{/if}
		<!--{if !empty($contents) && !$articleContents && count($contents)>1}-->
        <div class="tt_wenzhang_content_daodu">
        	<div class="tt_wenzhang_content_daodu_t"><a href="{$_SERVER['REQUEST_URI']}{$pchar}all" target="_self" class="y">阅读全文></a>本文导读</div>
            <ul class="tt_wenzhang_content_daodu_c cl">
				<!--{loop $contents $key $value}-->
				<!--{eval $curpage = $key+1;}-->
				<li {if $_G['page']==($key+1)}class="hover"{/if}><a href="portal.php?mod=view&aid=$aid&page=$curpage"{if $key === $start} class="xi1"{/if}>{lang article_inner_page_pre} {$curpage} {lang article_inner_page} $value[title]</a></li>
				<!--{/loop}-->
            </ul>
        </div>
		<!--{/if}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}home.js?{VERHASH}"></script>
        <div class="tt_wenzhang_content_toupiao"  id="click_div">
					<!--{template home/space_click}-->
		</div>
        <div class="tt_wenzhang_content_caozuo cl">
        	<div class="z">
				<!--{hook/view_article_op_extra}-->
				<a href="home.php?mod=spacecp&ac=favorite&type=article&id=$article[aid]&handlekey=favoritearticlehk_{$article[aid]}" id="a_favorite" onclick="showWindow(this.id, this.href, 'get', 0);" class=""><img src="$_G['style']['styleimgdir']/shoucang.png" />{lang favorite}</a>
				<!--{if helper_access::check_module('share')}-->
				<a href="home.php?mod=spacecp&ac=share&type=article&id=$article[aid]&handlekey=sharearticlehk_{$article[aid]}" id="a_share" onclick="showWindow(this.id, this.href, 'get', 0);" class=""><img src="$_G['style']['styleimgdir']/yaoqing.png" />{lang share}</a>
				<!--{/if}-->
				<a href="misc.php?mod=invite&action=article&id=$article[aid]" id="a_invite" onclick="showWindow('invite', this.href, 'get', 0);" class=""><img src="$_G['style']['styleimgdir']/yaoqing.png" />{lang invite}</a>
				<!--{if $_G['group']['allowmanagearticle'] || ($_G['group']['allowpostarticle'] && $article['uid'] == $_G['uid'] && (empty($_G['group']['allowpostarticlemod']) || $_G['group']['allowpostarticlemod'] && $article['status'] == 1)) || $categoryperm[$value['catid']]['allowmanage']}-->
					{if $article[idtype]=='tid'}<a href="$article[fromurl]">原帖地址</a><span class="pipe">|</span>{/if}
					<a href="portal.php?mod=portalcp&ac=article&op=edit&aid=$article[aid]">{lang edit}</a><span class="pipe">|</span>
					<a  id="related_article" href="portal.php?mod=portalcp&ac=related&aid=$article[aid]&catid=$article[catid]&update=1" onclick="showWindow(this.id, this.href, 'get', 0);return false;">{lang article_related}</a><span class="pipe">|</span>
					<!--{if $article[status]>0 && ($_G['group']['allowmanagearticle'] || $categoryperm[$value['catid']]['allowmanage'])}-->
						<a href="portal.php?mod=portalcp&ac=article&op=verify&aid=$article[aid]" id="article_verify_$article[aid]" onclick="showWindow(this.id, this.href, 'get', 0);">{lang moderate}</a>
					<!--{else}-->
						<a href="portal.php?mod=portalcp&ac=article&op=delete&aid=$article[aid]" id="article_delete_$article[aid]" onclick="showWindow(this.id, this.href, 'get', 0);">{lang delete}</a>
					<!--{/if}-->
					<span class="pipe">|</span>
				<!--{/if}-->
				<!--{if $article[status]==0 && ($_G['group']['allowdiy']  || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 5) || getstatus($_G['member']['allowadmincp'], 6))}-->
				<a href="portal.php?mod=portalcp&ac=portalblock&op=recommend&idtype=aid&id=$article[aid]" onclick="showWindow('recommend', this.href, 'get', 0)">{lang blockdata_recommend}</a><span class="pipe">|</span>
				<!--{/if}-->
            </div>
            <div class="y">
<!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_b" style="line-height: 12px;">
<img src="http://bdimg.share.baidu.com/static/images/type-button-1.jpg?cdnversion=20120831" />
</div>
<script type="text/javascript" id="bdshare_js" data="type=button&amp;mini=1&amp;uid=6589305" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END -->
			</div>
        </div>
		
		<!--{if $article['allowcomment']==1}-->
			<!--{eval $data = &$article}-->
			<!--{subtemplate portal/portal_comment}-->
		<!--{/if}-->
		
		</div>
	</div>
	<div class="tt_content_right y">

		<!--{hook/view_article_side_top}-->
		

<!--{if $cat[others]}-->
<div class="tt_wz_fenlei">
	<h2 class="tt_wzlist_list_h cl"><a>文章分类</a></h2>
	<div class="cl">
		<a href="portal.php?mod=listall">全部</a>
		<!--{loop $cat[others] $value}-->
		<a {if $value[catid]==$article[catid]}class="hover"{/if} href="{echo getportalcategoryurl($value[catid])}">$value[catname]</a>
		<!--{/loop}-->
	</div>
</div>
<!--{/if}-->

<!--[diy=diyrighttop]--><div id="diyrighttop" class="area"></div><!--[/diy]-->


	<div class="drag tt_wzview_list">
		<!--[diy=diyttlistview]--><div id="diyttlistview" class="area"></div><!--[/diy]-->
	</div>	



	</div>
</div>

<!--{if $_G['relatedlinks']}-->
	<script type="text/javascript">
		var relatedlink = [];
		<!--{loop $_G['relatedlinks'] $key $link}-->
		relatedlink[$key] = {'sname':'$link[name]', 'surl':'$link[url]'};
		<!--{/loop}-->
		relatedlinks('article_content');
	</script>
<!--{/if}-->



<!--{subtemplate common/footer}-->